<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
    <title>All ToDo lists of User</title>

    <style>
        span {
            color: gray;
        }
    </style>
</head>
<body>
<div th:replace="~{header :: header}">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Static header</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-sm-12 ">
            <h1 class="display-4 text-light" style="font-family: Arial, sans-serif;" th:text="${'All ToDo Lists of ' + user.firstName + ' ' + user.lastName}"/>
            <form th:action="@{|/todos/create/users/${user.id}|}" method="get">
                <div align="right">
                    <input class="btn btn-success btn-lg" type="submit" value="Create New ToDo List">
                </div>
            </form>
            <br>
            <div class="table-container">
                <table class="table table-dark table-sm">
                    <tr>
                        <th>No.</th>
                        <th>Title</th>
                        <th>Created At</th>
                        <th>Owner</th>
                        <th colspan="2">Operations</th>
                    </tr>
                    <tr th:each="todo, iStat: ${todos}">
                        <th scope="row" th:text="${iStat.index + 1}"/>
                        <td>
                            <a class="text-decoration-underline" th:href="@{|/todos/${todo.id}/tasks|}" th:text="${todo.title}"/>
                        </td>
                        <td th:text="${#temporals.format(todo.createdAt, 'dd.MM.yyyy HH:mm')}"/>
                        <td th:text="${todo.getOwner().firstName + ' ' + todo.getOwner().lastName}"></td>
                        <td>
                            <a class="btn btn-primary" th:href="@{|/todos/${todo.id}/update/users/${todo.owner.id}|}"
                               th:if="${todo.owner.id == authUser.id || #authentication.principal.user.role.name == 'ADMIN'}">Edit</a>
                            <span th:unless="${todo.owner.id == authUser.id || #authentication.principal.user.role.name == 'ADMIN'}">Edit</span>
                        </td>
                        <td>
                            <a class="btn btn-danger" th:href="@{|/todos/${todo.id}/delete/users/${todo.owner.id}|}"
                               th:if="${todo.owner.id == authUser.id || #authentication.principal.user.role.name == 'ADMIN'}">Remove</a>
                            <span th:unless="${todo.owner.id == authUser.id || #authentication.principal.user.role.name == 'ADMIN'}">Remove</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>