<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
    <title>Update Task</title>
</head>
<body>
<div th:replace="~{header :: header}">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Static header</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-sm-12 ">
            <h1 class="text-light" style="font-family: Arial, sans-serif;">Update Task</h1>

            <form class="form-horizontal" th:object="${task}" method="post">
                <div class="form-group">
                    <label class="control-label text-light" for="id">Id:</label>
                    <input class="form-control" type="text" th:field="*{id}" id="id" th:value="*{id}" disabled/>
                </div>
                <div class="form-group">
                    <label class="control-label text-light" for="name">Name:</label>
                    <input class="form-control" type="text" th:field="*{name}" th:value="*{name}" id="name"/>
                    <small class="form-text text-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                </div>
                <div class="form-group">
                    <label class="control-label text-light" for="priority">Priority:</label>
                    <select class="form-control" name="priority" id="priority">
                        <span th:each="priority : ${priorities}">
                            <option th:if="${priority.name().equals(task.priority)}" th:value="${priority}"
                                    th:selected="${true}"
                                    th:text="${priority.name().substring(0, 1) + priority.name().substring(1).toLowerCase()}"/>
                            <option th:unless="${priority.name() == task.priority}" th:value="${priority}"
                                    th:text="${priority.name().substring(0, 1) + priority.name().substring(1).toLowerCase()}"/>
                        </span>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label text-light" for="state">Status:</label>
                    <select class="form-control" name="stateId" id="state">
                        <span th:each="state : ${states}">
                            <option th:if="${state.id == task.stateId}" th:value="${state.id}" th:selected="${true}"
                                    th:text="${state.name}"/>
                            <option th:unless="${state.id == task.stateId}" th:value="${state.id}"
                                    th:text="${state.name}"/>
                        </span>
                    </select>
                </div>
                <div class="button-info">
                    <input class="btn btn-success" type="submit" value="Update"/>
                    <input class="btn btn-secondary" type="reset" value="Clear"/>
                </div>

                <input type="hidden" name="id" th:value="*{id}">
                <input type="hidden" name="todoId" th:value="${task.todoId}">
            </form>

            <div class="button-info">
                <a class="btn btn-info" th:href="@{|/todos/${task.todoId}/tasks|}">Go to Task List</a>
            </div>

        </div>
    </div>
</div>

<!--<div class="col-md-offset-2 col-sm-6">-->
<!--    <h2>Update Task</h2>-->

<!--    <form class="form-horizontal" th:object="${task}" method="post">-->
<!--        <div class="form-group">-->
<!--            <label class="control-label" for="id">Id:</label>-->
<!--            <input class="form-control" type="text" th:field="*{id}" id="id" th:value="*{id}" disabled/>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label class="control-label" for="name">Name:</label>-->
<!--            <input class="form-control" type="text" th:field="*{name}" th:value="*{name}" id="name"/>-->
<!--            <small class="form-text text-muted" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label class="control-label" for="priority">Priority:</label>-->
<!--            <select class="form-control" name="priority" id="priority">-->
<!--                        <span th:each="priority : ${priorities}">-->
<!--                            <option th:if="${priority.name().equals(task.priority)}" th:value="${priority}"-->
<!--                                    th:selected="${true}"-->
<!--                                    th:text="${priority.name().substring(0, 1) + priority.name().substring(1).toLowerCase()}"/>-->
<!--                            <option th:unless="${priority.name() == task.priority}" th:value="${priority}"-->
<!--                                    th:text="${priority.name().substring(0, 1) + priority.name().substring(1).toLowerCase()}"/>-->
<!--                        </span>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label class="control-label" for="state">Status:</label>-->
<!--            <select class="form-control" name="stateId" id="state">-->
<!--                        <span th:each="state : ${states}">-->
<!--                            <option th:if="${state.id == task.stateId}" th:value="${state.id}" th:selected="${true}"-->
<!--                                    th:text="${state.name}"/>-->
<!--                            <option th:unless="${state.id == task.stateId}" th:value="${state.id}"-->
<!--                                    th:text="${state.name}"/>-->
<!--                        </span>-->
<!--            </select>-->
<!--        </div>-->
<!--        <input class="btn btn-info" type="submit" value="Update"/>-->
<!--        <input class="btn btn" type="reset" value="Clear"/>-->


<!--        <input type="hidden" name="id" th:value="*{id}">-->
<!--        <input type="hidden" name="todoId" th:value="${task.todoId}">-->
<!--    </form>-->
<!--</div>-->
<!--<a th:href="@{|/todos/${task.todoId}/tasks|}">Go to Task List</a>-->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>